<!DOCTYPE html>
<html>
  <head>
    <title>IRSA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/sorttable.js"></script>
  </head>
  <body>
    <h1>IRSA Client Management System</h1>
    <p>Welcome to the IRSA Client Management System</p>
    <table class="sortable">
      <thead>
        <tr><th>Photo</th><th>Name</th><th>Registration Date</th><th>Payment Status</th><th>Waiver Status</th></tr>
      </thead>
      <tbody>
        <tr onclick="window.location='/profile/Jan Molby';"><td id="tdimg"><img src="images/blankprofile.png" /></td><td>Jan Molby</td><td>1/12/2017</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
        <tr onclick="window.location='/profile/Steve Nicol';"><td id="tdimg"><img src="images/blankprofile.png" /></td><td>Steve Nicol</td><td>11/12/2018</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
        <tr onclick="window.location='/profile/Steve McMahon';"><td id="tdimg"><img src="images/blankprofile.png" /></td><td>Steve McMahon</td><td>6/4/2016</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
        <tr onclick="window.location='/profile/John Barnes';"><td id="tdimg"><img src="images/blankprofile.png" /></td><td>John Barnes</td><td>8/16/2019</td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
      </tbody>
    </table>
  </body>
</html>
