<!DOCTYPE html>
<html>
  <head>
    <title>IRSA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascripts/sorttable.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div style="margin:0 auto; text-align: center;">
      <h1>IRSA Client Management System</h1>
      <p>Welcome to the IRSA Client Management System</p>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <table align="center" class="sortable">
        <thead>
          <tr><th>Photo</th><th>Name</th><th>Registration Date</th><th>Payment Status</th><th>Waiver Status</th></tr>
        </thead>
        <tbody>
          <tr onclick="window.location='/profile/Jan Molby';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Jan Molby</td><td>1/12/2017</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Steve Nicol';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Steve Nicol</td><td>11/12/2018</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Steve McMahon';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Steve McMahon</td><td>6/4/2016</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
          <tr onclick="window.location='/profile/John Barnes';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>John Barnes</td><td>8/16/2019</td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Abigail Allen';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Abigail Allen</td><td>1/19/2017</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Jake Creed';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Jake Creed</td><td>5/3/2018</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Bob Dozo';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Bob Dozo</td><td>9/29/2016</td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td></tr>
          <tr onclick="window.location='/profile/Bill Euler';"><td id="profileimg"><img src="images/blankprofile.png" /></td><td>Bill Euler</td><td>2/31/2019</td><td id="tdimg" sorttable_customkey="1"><img src="images/xmark.png" /></td><td id="tdimg" sorttable_customkey="0"><img src="images/checkmark.png" /></td></tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
